*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background > img{
    width: 100%;
    filter: brightness(25%);
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    /* background-color:antiquewhite; */
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.nav-links{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 35%;
    
}
.nav-links div{
    background-color: black;
    color: white;
    font-size: 11px;
    outline: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.mtext{
    width: 100%;
    height: 55%;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}