.container{
    width: 60vw;
    height: 50vh;
    background-color: #ea5151;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0, 0, 0.11, 0.95);
}

.box{
    flex:0 0 auto;
    gap: 10px;
    width: 100px;
    height: 100px;
    background-color: #cadcca;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0, 0, 0.11, 0.95);
    border-radius: 10px;
    animation: animation 2s linear infinite;
}

.box:hover{
    cursor: pointer;
    background-color: #0e180e;
    width: 200px;
    height: 80px;
}

.container:hover{
    background-color: #e0e0e0;
}

@keyframes animation {
    from{
    }
    to{
        transform:translateX(100px);
    }
}