.container{
    width: 60vw;
    height: 50vh;
    background-color: #ea5151;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: #1c1cef;
    width: 6vw;
    height: 5vh;
    /* transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; */
    transition: all 2s ease-in-out 1s;
}

.translate{
    transform: translate(50px, 50px);
    background-color: #1cef1c;
}