.container{
    width: 400px;
    height: 300px;
    border: 2px solid black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQmXmFMRFRgh8hAOyOu3LLEyQWK1E3qtzfyKYQ37iFJhLlwDxh315J634&s=10);
    background-size: cover;
    background-position: center;
}

img{
    width: 500px;
    height: 400px;
    /* object-fit: contain; */
    /* object-fit: cover; */
    object-fit: fill;
    /* object-position:  bottom right; */
}

.container > div{
    width:20px;
    height: 20px;
    background-color: red;
    
}