div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    transform: rotatex(45deg);
    transform: rotatey(45deg);
    transform: rotatez(45deg);
}
