*{
    margin: 0 1px;
    padding: 2px;
    box-sizing: border-box;
}
ul{
    align-items: center;
    display: flex;
    border: 1px solid black;
}
li{
    margin: 0px 4px;
    padding: 0 10px;

    box-sizing: border-box;
    list-style: none;
    display: flex;
    display: inline-block;
}   