@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:rgb(33, 30, 30)
}

div, a{
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 10px;
}   

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgb(191, 130, 130);
}
ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(161, 133, 133);
}

.btn{
    background-color: rgb(117, 135, 209);
    font-size: 20px;
    border:none;
    height: 33px;
    padding: 3px 8px;
    border-radius: 40px;
}   

a{
    padding:8px;
    margin: 0px;
    background-color: rgb(113, 80, 80);
}

.heading{
    font-size: 20px;
    background-color: rgb(127, 41, 41);
    color: rgb(186, 159, 159);
    padding: 10px;
}