body{
    background-color: #f0ecec;
}
*{
    margin:0;
    padding:0;
}


li{
    padding: 0px 10px 0 10px ;
    color :white;
    list-style-type: none;
    border-radius: 40px;
}
li:hover{
    outline: 1px solid white;
}
div{
    border: 1px solid white;
    color :white;

}
ul{
    display: flex;
}

.navbar{
    position: relative;
    top: 40vh;
    left: 10vw;
    width: 80vw;
    display: grid;
    grid-template-rows: 22px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #433f3f;
    border-radius: 40px;
}

.logo{
    margin: 0px 10px 0 1px ;
    border-radius: 40px;
    padding: 0 10px 0 10px ;
    justify-self: left;
}
.leftd{
    margin : 0px 1px 0 10px ;
    border-radius: 40px;
    padding: 0px 10px 0 10px ;
    justify-self: right;
    align-self: center;
}

.navl{
    margin: 0px 1px 0 50px ;
    align-self: center;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    gap: 4px;
}

