p{
    background-color:rgb(228, 182, 118)
}
h1{
    color:rgb(228, 182, 118)
}
span{
    color:rgb(228, 182, 118)
}
div{
    background-color:rgb(228, 182, 118)
}
a{
    background-color:rgb(228, 182, 118)
}