#heading{
    color:rgb(218, 205, 189);
}
body{
    background-color:antiquewhite;

}
.highlight{
    color:rgb(70, 114, 114)
}
#firstid{
    font-size: 20px;
}
h1{
    color:rgb(167, 148, 126)    
}

header{
    background-color: rgb(112, 87, 49);
}
footer{
    background-color: rgb(58, 87, 87);
    color:rgb(236, 207, 170)
}
main{
    background-color: rgb(213, 193, 162);
}

